.mainDiv {
    padding: 20px 30px;
    display: flex;
    gap: 3rem;
    height: fit-content;
}

.videoTitle {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.8em;
}

.avatarDiv {
    margin-top: 0.5rem;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.channelDiv {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
}

.channelName {
    margin: 0;
    font-size: 1.2em;
}

.leftDiv {
    width: 70vw;
}

.descriptionDiv {
    margin-top: 0.4rem;
    background-color: rgba(219, 219, 219, 0.1);
    padding: 10px;
    border-radius: 12px;
}

.viewsPara {
    font-weight: 700;
}

.viewsDiv {
    display: flex;
    gap: 0.6rem;
    height: 30px;
}